<%- include header %>
<section class="cart">
  <% for (var i = 0; i < 10; i++) { %>
  <% if(data.list[i].price !== 'None') { %>
  <div class="book-in-cart clearfix">
    <div class="check-box float-left">
      <input id="<%= 'no-' + data.list[i].id %>" data-price="<%= data.list[i].price %>" type="checkbox">
      <label for="<%= 'no-' + data.list[i].id %>"> </label>
    </div>
    <img src="<%= data.list[i].img + '!e' %>" alt="" class="float-left" data-id="<%= data.list[i].id %>">
    <div class="information-block-in-cart float-left">
      <div class="first-line">
      <a class="link-detail" href="javascript:void(0)" data-id="<%= data.list[i].id %>">
        <div class="title float-left"><%= data.list[i].title %></div>
      </a>
      </div>
      <div class="author"><%= data.list[i].author %></div>
      <div class="description"><%= data.list[i].content %></div>
    </div>
    <div class="price float-right"><%= data.list[i].price === 'None' ? '暂时缺货' : '￥ ' + data.list[i].price %></div>
  </div>
  <%- i === 10 - 1 ? '' : '<hr class="section-seperate">' %>
  <% } } %>
</section>
<%- include cartFooter %>