<%- include header %>
<section class="detail">
  <div class="book-detail clearfix">
    <img src="<%= data.detail[0].img + '!m' %>" alt="" class="float-left">
    <div class="detail-block">
      <div class="title"><%= data.detail[0].title %></div>
      <div class="author">作者：<%= data.detail[0].author %></div>
      <div class="publish">版权：<%= data.detail[0].publish %></div>
      <div class="price"><%= data.detail[0].price === 'None' ? '暂时缺货' : '￥ ' + data.detail[0].price %></div>
    </div>
  </div>
  <div class="btns clearfix">
    <button class="buy float-left">购买</button>
    <button class="add float-right">加到购物车</button>
  </div>
  <hr>
  <div class="detail-tab">
    <span>|</span>
    <a class="left" href="javascript:void(0)">图书简介</a>
    <a class="right" href="javascript:void(0)">章节概要</a>
  </div>
  <hr>
  <div class="inner-detail clearfix">
    <div class="triangle">
      <div class="black"></div>
      <div class="white"></div>
    </div>
    <div class="brief left-transition">
    <% data.detail[0].content.forEach(function(p) { %>
      <p><%= p %></p>
    <% }); %>
    </div>
    <div class="comment left-transition">
    <% for(var i = 0; i < data.detail[0].section.length; i++) { %>
      <div class="detail-section"><%= data.detail[0].section[i] %></div>
      <p class="detail-brief"><%= data.detail[0].brief[i] %></p>
    <% } %>
    </div>
  </div>
</section>