<%- include header %>
<section class="content">
  <% for (var i = 0; i < data.list.length; i++) { %>
  <div class="book-block clearfix">
    <a class="link-detail" href="javascript:void(0)" data-id="<%= data.list[i].id %>"><img src="<%= data.list[i].img + '!e' %>" alt="" class="float-left">
      <div class="information-block">
        <div class="first-line">
          <div class="title float-left"><%= data.list[i].title %></div>
        </div>
        <div class="author"><%= data.list[i].author %></div>
        <div class="description"><%= data.list[i].content %></div>
        <div class="price"><%= data.list[i].price === 'None' ? '暂时缺货' : '￥ ' + data.list[i].price %></div>
      </div>
    </a>
  </div>
  <%- i === data.list.length - 1 ? '' : '<hr class="section-seperate">' %>
  <% } %>
</section>
<%- include footer %>
<%- include tablist %>